@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.app{
    align-self: center;
    padding: 2%;
}

.button-cancel{
    padding: 10px;
    font-family: 'Inter';
    background-color: #C0392B;
    color: white;
    border: 1px solid #C0392B;
    border-radius: 7px;
    font-size: 25px;
    margin-right: 10px;
}

.button-cancel:hover{
    background-color: white;
    color: #C0392B;
}

.button-confirm{
    padding: 10px;
    font-family: 'Inter';
    background-color: #3498DB;
    color: white;
    border: 1px solid #3498DB;
    border-radius: 7px;
    font-size: 25px;
    margin-right: 10px;
}

.button-confirm:hover{
    background-color: white;
    color: #3498DB;
}

.input-file::file-selector-button {
    border: 2px solid #6c5ce7;
    width: 100%;
    height: 4rem;
    font-family: 'Inter';
    font-size: 25px;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: white;
}



.container{
    align-self: center;
    text-align: center;
}

.question{
    border: 1px solid gray;
    border-radius: 7px;
    padding: 5px;
}

.button-download{
    margin-top: 20px;
    width: 100%;
    height: 5rem;
    font-family: 'Press Start 2P';
    background-color: #3498DB;
    color: white;
    border: 1px solid #3498DB;
    border-radius: 7px;
    font-size: 30px;
}

.button-download:hover{
    background-color: white;
    color: #3498DB;
}

.img-btn{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding-right: 30px;
}

.button-request{
    background-color: #45B39D;
    color: white;
    padding: 5px;
    font-family: 'Inter';
    font-size: 20px;
    margin-top: 2px;
    border: 1px solid #45B39D;
    border-radius: 7px;
}
.button-request:hover{
    padding: 5px;
    font-family: 'Inter';
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: #45B39D;
    margin-top: 2px;
    border: 1px solid #45B39D;
    border-radius: 7px;
}

.title-principal{
    font-family: 'Press Start 2P';
    text-align: center;
}
.p-file{
    font-family: 'Press Start 2P';
    text-align: center;
    font-size: 25px;
    color: #45B39D;
}

.title-popup{
    font-family: 'Press Start 2P';
    font-size: 12px;
    color: white;
    text-align: center;
}

.p-question{
    font-family: 'Inter';
    font-size: 25px;
}
.p-text{
    font-family: 'Roboto';
    font-size: 25px;
    text-align: center;
}

.p-little-text{
    font-family: 'Roboto';
    font-size: 17px;
}


.pixelart{
    width: 100%;
    
}

.popup {
    position: relative;
    cursor: pointer;
}
  /* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}